//Nexa

@font-face {
    font-family: "NexaRegular";
    src: url("../fonts/Nexa-Font/Nexa-Regular.otf") format("opentype");
}

$nexaregular: "NexaRegular",
serif;

@font-face {
    font-family: "NexaBold";
    src: url("../fonts/Nexa-Font/Nexa-Bold.otf") format("opentype");
}

$nexabold: "NexaBold",
serif;

@font-face {
    font-family: "NexaLight";
    src: url("../fonts/Nexa-Font/Nexa-Light.otf") format("opentype");
}

$nexalight: "NexaLight",
serif;


